language: sass

before_install:
  - apt install ruby-dev
  - gem install sass

after_install:
- chmod +x deploy.sh
- ./deploy.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master
