language: node_js

before_install:
  - npm install -g sass
script:
  - chmod +x deploy.sh
  - ./deploy.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master
