language: generic

before_install:
  - sudo apt update
  - sudo apt-get -y install nodejs
  - npm install -g sass
  - chmod +x deploy.sh
  - bash deploy.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
