body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, freesans, clean, sans-serif;
  background-color: black;
  max-width: 10000px;
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
  font-size: 200%;
  text-align: center;
}

a {
  color: black;
}

a:hover {
  color: cornsilk;
}

/********** navigation bar ****************************/
nav {
  background-color: cornsilk;
  position: sticky;
  top: 0;
  padding: 10px;
}
nav ul li {
  display: inline;
  list-style: none;
  padding: 10px;
  /*padding-right: 2 * $std-whitespace;*/
}
nav ul li:hover {
  background-color: #626262;
}
nav ul li:hover a {
  color: white;
}

/***************** main *******************************/
main {
  background: white;
}

main > section {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /*    padding: 10 * $std-whitespace $std-whitespace;*/
}
main > section h1, main > section h2 {
  padding-top: 100px;
}

main > section:nth-child(odd) {
  background-color: white;
}
main > section:nth-child(odd) a {
  color: #626262;
}
main > section:nth-child(odd) h1, main > section:nth-child(odd) h2, main > section:nth-child(odd) h3, main > section:nth-child(odd) h4, main > section:nth-child(odd) h5, main > section:nth-child(odd) h6, main > section:nth-child(odd) p, main > section:nth-child(odd) li {
  color: #626262;
}

main > section:nth-child(even) {
  background-color: #626262;
}
main > section:nth-child(even) a {
  color: white;
}
main > section:nth-child(even) a:hover {
  color: cornsilk;
}
main > section:nth-child(even) h1, main > section:nth-child(even) h2, main > section:nth-child(even) h3, main > section:nth-child(even) h4, main > section:nth-child(even) h5, main > section:nth-child(even) h6, main > section:nth-child(even) p, main > section:nth-child(even) li {
  color: white;
}

@media (min-width: 10000px) {
  main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(2, min-content);
    flex-direction: row;
  }

  #projects {
    grid-row: 1/3;
    grid-column: 2;
    padding: 10px;
    border: 5px solid red;
    min-height: 100vh;
    height: auto;
  }
}
#welcome-section {
  height: 100vh;
}
#welcome-section * {
  text-align: center;
}
#welcome-section #profile-link img {
  height: 15px;
}
#welcome-section a#profile-link {
  color: #626262;
}
#welcome-section a#profile-link:hover {
  color: darkorange;
}

section > ul {
  display: flex;
  flex-wrap: wrap;
}
section > ul li {
  display: block;
  list-style: none;
  padding: 10px;
  margin: 10px;
}

ul#list-of-projects li {
  background-color: black;
  width: 300px;
}

ul#user-stories li {
  background-color: #626262;
  color: white;
  width: 300px;
}

/*************** footer ******************************/
footer {
  background-color: cornsilk;
  padding: 10px;
}
