/***************** main start **************************/
main {
  background: white;
}

main > section {
  min-height: 100vh;
  margin: 0;
  padding: 0; //$std-whitespace;
  /*    padding: 10 * $std-whitespace $std-whitespace;*/
  h1,
  h2 {
    padding-top: 10 * $std-whitespace;
  }
}

main > section:nth-child(odd) {
  @include brightTheme
}

main > section:nth-child(even) {
  @include darkTheme
}
@media (min-width: $max-frame-width) {
  main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(2, min-content);
    flex-direction: row;
  }

  #projects {
    grid-row: 1 / 3;
    grid-column: 2;
    padding: $std-whitespace;
    border: 5px solid red;
    min-height: 100vh;
    height: auto;
  }
}

#welcome-section {
  height: 100vh;

  * {
    text-align: center;
  }

  #profile-link img {
    height: 15px;
  }

  a#profile-link {
    color: $dark-color;
  }

  a#profile-link:hover {
    color: $prim-color;
  }
}

section > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    display: block;
    list-style: none;
    padding: 1.5 * $std-whitespace;
    margin: $std-whitespace;
    width: 300px;
    text-align: left;
  }
}

ul#list-of-projects li {
  background-color: $frame-color;
}

ul#user-stories li {
  background-color: $dark-color;
  color: $light-color;
}
/***************** main end **************************/