body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    background-color: black;
    padding: 1vmax;
}

.tile, section {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

header {
    background-color: darkorange;
}

nav, footer {
    background-color: cornsilk;
}

section {
    background: white;
}

header * {
    text-align: center;
}

#profile-link img {
    height: 15px;
}

#profile-link a {
    color: black;
}

#welcome-section {}

#projects {}

#challenge {
    /*  grid-row: 2 / 4;*/
    grid-row: 2;
    grid-column: 2;
}

#about {
    /*    grid-row: 1 / 2;
    grid-column: 1 / 2;*/
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}