@import './vars';
@import './mixins';

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, freesans, clean, sans-serif;
  background-color: $frame-color;
  max-width: $max-frame-width;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

a {
  color: $frame-color;
}

a:hover {
  color: $sec-color;
}
@import './nav';
@import './main';
@import './footer';