$prim-color: darkorange;
$sec-color: cornsilk;
$dark-color: black;
$std-padding: 10px;
$max-frame-width: 800px;

body {
    font-family: "Segoe UI", "Helvetica Neue", Arial,
        freesans, clean, sans-serif;
    background-color: $dark-color;
    max-width: $max-frame-width;
    padding: 0px;
    margin: 0px;
}

.tile,
main {
    padding: $std-padding;
    /*border-radius: 10px;*/
}

/********* header ****************************************/
header {
    background-color: $prim-color;
}

header * {
    text-align: center;
}

#profile-link img {
    height: 15px;
}

#profile-link a {
    color: $dark-color;
}

/********** navigation bar ****************************/
nav {}

nav ul li {
    display: inline;
    list-style: none;
    position: relative;
    padding-right: 20px;
}

nav {
    background-color: $sec-color;
}

/***************** main *******************************/
main {
    background: white;
}

main>section {
    margin: 2vh;
}

@media (min-width: $max-frame-width) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, min-content);
        flex-direction: row;
    }

    #projects {
        grid-row: 1 / -1;
        grid-column: 2;
        padding: $std-padding auto;
        background-color: $sec-color;
    }
}

/*************** footer ******************************/
footer {
    background-color: $sec-color;
    padding: $std-padding;
}
